body{
    background-color: beige;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : saddlebrown;
    text-align: center;
}
#czyPaczekOpdowiedz {
    width: 300px; /* Szerokość pola tekstowego */
    height: 50px; /* Wysokość pola tekstowego */
    padding: 10px; /* Wewnętrzny margines */
    border: 2px solid #ccc; /* Grubość i styl obramowania */
    border-radius: 5px; /* Zaokrąglenie krawędzi */
    font-size: 16px; /* Rozmiar czcionki */
    color: #333; /* Kolor tekstu */
    background-color: #f9f9f9; /* Kolor tła */
}

#czyPaczekOpdowiedz:focus {
    outline: none; /* Usunięcie obramowania po kliknięciu */
    border-color: dodgerblue; /* Zmiana koloru obramowania po kliknięciu */
}
.top{
   text-align: center
}